* {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(23, 23, 23);
    color: white;
    text-align: center;
    height: 100%;
}

html {
    height: 100%;
}
header {
    padding: 40px;
}

#notme {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.intro {
    margin: 30px;
}

.c-block {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 4;
    font-size: 30px;
}

.c-link {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 12px;
    transition: color;
    transition-duration: 300ms;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

.c-link:hover {
    background-color: #292929;
    transform: rotate(360deg);
}

.c-link svg:active {
    stroke: white;
}

.calendar {
    padding: 30px;
    max-width: 1000px;
    border: none !important;
}

.table_link {
    text-decoration: none;
    color: white;
}

rect[data-level="4"].ContributionCalendar-day {
    fill: rgb(81, 4, 97) !important;
}
rect[data-level="3"].ContributionCalendar-day {
    fill:#6a1274 !important;
}
rect[data-level="2"].ContributionCalendar-day {
    fill:#9b37a7 !important;
}
rect[data-level="1"].ContributionCalendar-day {
    fill:#be77c7 !important;
}
rect[data-level="0"].ContributionCalendar-day {
    fill:#e9ceeb !important;
}