doctype html
html(lang='en')
 head
   title Loading...
   style.
    * {font-family: Helvetica, sans-serif;}
    body {margin: 0 auto;background-color: rgb(23, 23, 23);color: white;text-align:center;}
    .card {margin: 40px}
    h3 {color:#9b37a7}
 body
    include ../components/nav.pug
    .card
        h3 Q: Which music do you listen to?
        p A: I prefer listening to Hip-Hop.
    .card
        h3 Q: Are you able to exit vim?
        p A: Believe it or not: I am able.
    .card
        h3 Q: What do you like the most about IT?
        p A: That you can create such great things out of nowhere.
    .card
        h3 Q: What is your favorite Movie? 
        p A: I loved to watch Suits
    .card
        h3 Q: Who is your role model?
        p A: Jordan Peterson is pretty inspirational.
    .card
        h3 Q: What is a quality you admire in others?
        p A: Honesty means a lot to me.
    .card
        h3 Q: Cats or Dogs?
        p A: I ❤️ dogs but cats are cute too.
    .card
        h3 Q: What makes you the happiest?
        p A: Beeing around people I like.