doctype html
html(lang='en')
 head
   title Loading...
   link(rel="stylesheet", href="style/404.css")
 body
    include ../components/nav.pug
    .content
        h1 404 Page not Found
        a(href="/", class="button") Homepage